.window {
    width: 600px;
    height: 500px;
    background: white;
    position: fixed;
    overflow-x: auto;
    z-index: 50;
    overflow-y: hidden;
    top: 70px;
    left: 70px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.2);
}
.window-header {
    width: inherit;
    height: 30px;
    background: gray;
    color: white;
}
.window-header button{
    float: right;
    display: block;
    height: 30px;
    width: 30px;
    color: white;
    line-height: 30px;
}
.window-header p{
    float: left;
    display: block;
    width: 300px;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pin{
    width: 190px;
    height: 35px;
    float: left;
    font-size: 7pt;
    margin: 5px;
    color: black;
    background: white;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}
.pin>p{
    height:35px;
    line-height:35px;
    width: 150px;
    padding-left: 5px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 9pt;
}
div.pin>button {
    width: 30px;
    float: right;
    height: 35px;
}
.hidden-window-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin: 10px;
    z-index: 300;
}
.hidden-window-container div{
    height: 20px;
    width: 163px;
    background: gray;
    padding: 5px;
}
.model-panel {
    border-bottom: 1px solid gray;
    height: 30px;
}
.model-panel button{
    float: left;
    height: 30px;
    width: 30px;
    font-size: 14pt;
}
.window form label {height: 30px;line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 10pt;width: 190px;}
.window form input {
    background: white;
    height: 30px;
    font-size: 10pt;
    padding-left: 5px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.window form {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 5px;
    padding: 5px;
}

.window-content {
    overflow: auto;
    height:440px;
    padding: 5px;
}
.hidden-window-container div button {
    width: inherit;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.model-panel a {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14pt;
}
.window form select{
    padding-left: 5px;
    font-size: 10pt;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}