.window {
    width: 600px;
    height: 500px;
    background: white;
    position: fixed;
    overflow-x: auto;
    z-index: 50;
    overflow-y: hidden;
    top: 70px;
    left: 70px;
    -webkit-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
}
.window-header {
    width: inherit;
    height: 45px;
    background: #232d41;
    color: white;
}
.window-header button{
    float: right;
    display: block;
    height: 30px;
    width: 30px;
    font-size: 10pt;
    margin-right: 5px;
    color: white;
    line-height: 45px;
}
.window-header p{
    float: left;
    display: block;
    width: 300px;
    text-align: left;
    line-height: 45px;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pin{
    width: 190px;
    height: 35px;
    float: left;
    font-size: 7pt;
    margin: 5px;
    color: black;
    background: white;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.pin>p{
    height:35px;
    line-height:35px;
    width: 150px;
    padding-left: 5px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 9pt;
}
div.pin>button {
    width: 30px;
    float: right;
    height: 35px;
}
.hidden-window-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin: 10px;
    z-index: 300;
}
.hidden-window-container div{
    height: 20px;
    width: 163px;
    background: #232d41;
    padding: 5px;
    color: white;
}
.model-panel {
    height: 35px;
    background: #eaf4f4;
    padding: 2px 5px;
    -webkit-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    box-shadow: 0px 3px 0px -2px rgb(35,45,65, 0.3);
}
.model-panel button{
    float: left;
    height: 30px;
    width: 30px;
    font-size: 14pt;
}
.window form label {height: 30px;line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 10pt;width: 190px;}
.window form input {
    background: white;
    height: 30px;
    font-size: 10pt;
    padding-left: 5px;
    -webkit-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
}

.window form {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 5px;
    padding: 10px 5px;
}

.window-content {
    overflow: auto;
    height: 435px;
    padding: 10px;
    background: #eaf4f4;
}
.hidden-window-container div button {
    width: inherit;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    padding-left: 5px;
    font-size: 10pt;
    line-height: 20px;
}
.model-panel a {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14pt;
}
.window form select{
    padding-left: 5px;
    font-size: 10pt;
    -webkit-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
    box-shadow: 0px 4px 0px -2px rgb(35,45,65, 0.3);
}
.lines {
    width: 370px;
    height: 25px;
    float: right;
    color: white;
    margin: 2px 0;
    line-height: 25px;
    padding-left: 10px;
    background: #495874;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
.object-line {
    width: 471px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    float: left;
    font-size: 9pt;
    line-height: 20px;
    background: white;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
.object-line p{
   float: left;
   margin-right: 5px
}
.window-content >p {
    padding: 7px;
    font-size: 10pt;
    margin: 5px 0;
    line-height: 30px;
}
button.delete {
    width: 60px;
    height: 30px;
    margin: 5px;
    background: #ea4646;
    float: left;
    font-size: 7pt;
    color: white;
}
.relations>p {
    font-size: 10pt;
    background: #495874;
    padding: 7px;
    line-height: 23px;
    color: white;
    margin-top: 7px;
}

.relation>p {
    font-size: 10pt;
    background: white;
    padding: 7px;
    margin: 5px 0 2px 0;
    line-height: 16px;
    -webkit-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
    -moz-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
    box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
}

.add-relation {
    height: 80px;
    background: #c7d9d9;
    display: grid;
    gap: 0px;
    grid-template-columns: minmax(0px, 250px) 10px minmax(0px, 250px) 35px;
}

.add-relation {}
button.delete-relation {
    width: 35px;
    height: 35px;
    background: white;
    margin: 5px -50px;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.create-relation-type {
    position: absolute;
    top: 94px;
    left: 10px;
    height: 170px;
    padding: 35px;
    z-index: 9999;
    background: white;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
.create-relation-type>p{
    padding: 10px;
}
.create-relation-type>input{
    padding: 10px;
    width: 450px;
    margin: 10px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
.create-relation-type>button{
    background: gainsboro;
    width: 100px;
    height: 35px;
    margin: 10px;
    float: left;
}
button.add-relation-type {
    width: 20px;
    height: 20px;
    background: white;
    font-size: 6pt;
    margin: 0 10px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}
.window-hover-notification {
    width: 600px;
    height: 460px;
    background: rgb(35,45,65);
    z-index: 9999;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
}
.window-hover-notification>p{
    background: none;
    width: inherit;
    height: inherit;
    line-height: 440px;
    text-align: center;
    color: white;
    font-size: 35pt;
}