<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/layout/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/layout/editor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/window/window.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/layout/library.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/fixer.css' %}">

    <title>Test</title>
</head>
<body>
    <div id="app"></div>
    <script src="{% static "frontend/main.js" %}"></script>
</body>