.text-editor {
    width: 900px;
    margin: 10px auto;
}

.text-editor p {
    background: white;
    padding: 5px;
}

.text-info {
    width: 900px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 5px;
    font-size: 10pt;
}
.text-info>p{
    height: 30px;
    line-height: 35px;
    margin: 5px;
}
.text-navbar {
    width: 900px;
    margin: 10px auto;
    height: 30px;
    background: #495874;
    font-size: 9pt;
    color: white;
    padding-left: 10px;
}
.text-navbar>p{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}
.text-navbar>input{
    float: left;
    width: 50px;
    height: 20px;
    margin: 5px 10px;
    text-align: center;
}
.text-editor button {
    width: 20px;
    height: 20px;
    background: grey;
    color: white;
    font-size: 8pt;
    line-height: 20px;
}
button.create-entity {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    background: gray;
    font-size: 17pt;
    color: white;
    font-weight: bold;
}
.create-entity-panel {
    width: 600px;
    max-height: 280px;
    background: white;
    overflow: auto;
    position: fixed;
    left: 7%;
    bottom: 0;
    margin: 20px;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}
.create-entity-panel .elements {
    display: grid;
    width: auto;
    grid-template-columns: 30px auto;
    gap: 5px;
    padding: 10px;
    background: gainsboro;
}
.create-entity-panel >p {
    height: 30px;
    font-size: 13pt;
    padding: 10px;
    line-height: 30px;
}
.create-entity-panel >select {
    width: inherit;
    padding: 10px;
    background: gainsboro;
}
.create-entity-panel >button {
    width: inherit;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    transition: 0.3s;
    border: none;
}
.create-entity-panel >button:hover {
    background: black;
    color: white;
}
.text-panel {
    font-size: 9pt;
}
.object-panel {
    width: 500px;
    max-height: 400px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    right: 20px;
    bottom: 20px;
    background: white;
    transition: 0.4s;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
    -moz-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
    box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.5);
}
.object-panel .head {
    background: #495874;
    height: 30px;
    width: 100%;
    color: white;
}

.object-panel button.close {
    height: 30px;
    width: 30px;
    float: right;
    color: white;
    font-size: 10pt;
}
.object-panel .head>p {
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 11pt;
    padding: 0 5px;
}
button.open-sidebar {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    left: 0;
    margin: 20px;
    background: #00bfa5;
    font-size: 25pt;
    color: white;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.object-list {
    width: 100%;
    padding: 10px;
    background: #c7d9d9;
    max-height: 200px;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.object-highlight {
    width: 35px;
    height: 35px;
    margin: 5px 0px;
    float: left;
    background: white;
    line-height: 35px;
    font-size: 12pt;
    text-align: center;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.line {
    width: 900px;
    display: grid;
    grid-template-columns: 30px 425px 425px;
    grid-gap: 10px;
    padding: 5px;
}
.test {
    background: red;
    width: 50px;
    height: 50px;
}
.test2 {
    background: grey;
    width: 200px;
    height: 200px;
}

form.main-form {
    display: grid;
    padding: 10px;
    font-size: 9pt;
    overflow: auto;
    width: 435px;
    grid-template-columns: 100px auto;
    margin: 0 20px;
    gap: 10px;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
form.main-form input, form.main-form select {
    padding: 5px;
}

.content {
    width: 1200px;
    margin: 20px auto;
}

.content>p{
    margin: 10px 0;
}

.content>select{
    padding: 10px;
    display: inline-block;
}
.content-form  button {
    background: #97d897;
    padding: 10px;
    margin: 20px;
}

.markup-list {
    width: 900px;
    margin: 10px auto;
    font-size: 10pt;
}
.markup-list>p{
    padding: 5px;
}
.markup-list button{
    padding: 5px;
    margin: 5px;
    -webkit-box-shadow: 0px 1px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 1px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 1px 0px 1px rgb(35,45,65, 0.3);
}
.new-markup {
    width: 900px;
    margin: 10px auto;
    font-size: 10pt;
}
.new-markup p{
    padding: 5px;
}
.new-markup button{padding: 5px;background: gainsboro;margin: 0px 5px;}
.new-markup input{
    padding: 5px;
    margin: 0px 5px;
    width: 300px;
}
.content .column {
    height: auto;
    max-width: 420px;
    overflow: auto;
    float: left;
}
.content .info {
    width: 1200px;
    display: grid;
    margin: 40px auto;
    grid-template-columns: minmax(100px, max-content) auto auto;
}
.content-all {
    display: grid;
    grid-template-columns: auto;
    overflow: auto;
    height: max-content;
}
.content-search {
    margin: 5px;
    height: 50px;
}

.content-search input[type="text"] {
    padding: 5px;
    width: 180px;
    font-size: 10pt;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}

.content-search button {
    width: 20px;
    margin-left: -25px;
    z-index: 9;
    height: 20px;
    font-size: 10pt;
}

.content-head {
    width: 900px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
}
.content-head div:first-child {
    display: grid;
    grid-template-columns: repeat(5, auto);
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.content-head div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 10px;
    width: 900px;
    -webkit-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 1px rgb(35,45,65, 0.3);
}
.content-head div:nth-child(2) button {
    padding: 10px
}
.content-head button {
    padding: 15px;
}