.header{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background: white;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}
.header div{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
}
.header div a>p{
    width: inherit;
    height: inherit;
    font-size: 10pt;
    color: black;
}
.header div button{
    width: max-content;
    height: inherit;
    font-size: 10pt;
    background:none;
}
.header div button>p{
    width: inherit;
    height: inherit;
    font-size: 10pt;
    color: black;
    line-height:50px;
}
.header div:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.header>p {
    float: right;
    font-size: 8pt;
    height: 50px;
    line-height: 50px;
    padding-right: 10px;
}
.auth-box {
    width: 600px;
    background: white;
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    margin: 30px auto;
    padding: 40px;
}


.auth-box>form {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 10px;
}
.auth-box input{background: white;height: 30px;font-size: 10pt;padding-left: 5px;-webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);}
.auth-box p{height: 30px;font-size: 10pt;text-align: right;line-height: 30px;}
.auth-box button{height: 30px;background: white;font-size: 10pt;line-height: 30px;-webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);}
.auth-box div{
    height: 30px;
    background: white;
    line-height: 30px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    padding-left: 5px;
    text-align: center;
    font-size: 10pt;
}
.user-info {
    display: grid;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background: white;
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    grid-template-columns: max-content 200px;
    gap: 10px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}
.user-info > button {
    background: gainsboro;
    padding: 5px;
}
.user-info > button:hover {
    color: white;
    background: darkgray;
    transition: 0.3s;
}

#app>.info {
    margin: 50px auto;
    background: white;
    padding: 30px;
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify;
    width: 900px;
}
#app>.info>p{
    padding:10px 0
}

.alert {
    background: white;
    color: black;
    font-size: 12pt;
    padding: 10px;
    margin: 5px;
    height: 50px;
    z-index: 9999;
    width: max-content;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}
.alert>button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin: -13px -13px 0 0;
    cursor: pointer;
    opacity: 0;
}
.alert>div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: -11px 0 0 -5px;
}

.alert>p {
    float: left;
    height: 50px;
    line-height: 50px;
}